###############################################################################
# macOS
###############################################################################

.DS_Store

###############################################################################
# Python
###############################################################################

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

###############################################################################
# Virtual Environments
###############################################################################

.venv/
venv/
env/

###############################################################################
# VS Code
###############################################################################

.vscode/

###############################################################################
# JetBrains
###############################################################################

.idea/

###############################################################################
# Build Artifacts
###############################################################################

build/
dist/

###############################################################################
# Logs
###############################################################################

*.log

###############################################################################
# Temporary Files
###############################################################################

*.tmp
*.temp
*.swp
*.swo
*~